.card {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-right {
  position: relative;
  width: 50%; /* Set width to 50% to occupy half of the card */
}

.button {
  position: absolute; /* Position buttons absolutely within the card-right */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center buttons using transform */
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  width: 50px;
}
