@font-face {
  font-family: "Frutiger";
  src: url("fonts/Frutiger.ttf");
} 

body {
  font-family: Frutiger, sans-serif;
}

.card {
  border-radius: 15px;
  padding: 25px;
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: #ffffff;
  background: linear-gradient(98.18deg, rgba(240, 240, 240, 0.18) 20.56%, rgba(8, 8, 8, 0.18) 67.99%);
  backdrop-filter: blur(17.4px);
}

.card-content {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.card-left {
  display: flex;
  align-items: center;
  font-size: 58px;
  text-align: center;
}

.card-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center buttons horizontally within card-right */
  width: 50%; /* Set width to 50% to occupy half of the card */
}

.button {
  background-color: transparent; /* Set background color to blue */
  cursor: pointer;
  margin-bottom: 10px;
  border: none;
}

.button img {
  width: 14em; /* Set desired width for SVG image */

}

.logo {
  padding-right: 15px;
  width: 150px;
}

.new-span {
  font-family: "Frutiger";
}

@font-face {
  font-family: "Regular";
  src: url("fonts/Frutiger.ttf");
} 

@font-face {
  font-family: "ExtraLight";
  src: url("fonts/Frutiger.ttf");
}

body {
  margin: 0;
  background: url("") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 25px;
  gap: 15px;
background: linear-gradient(180deg, #3767E1 -10.71%, #0C41BF 50.64%, #001898 50.92%, #020053 100%);
box-shadow: inset 0px 2px 2px 0.4px rgba(255, 255, 255, 0.25), inset 2px 0px 2px 0.2px rgba(0, 0, 0, 0.25);
}

.nav.desktop{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  gap: 15px;
}

.nav.mobile{
  display: none;
}

.navlink{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5px;  
  align-items: center;
}

.navlink:hover{
  text-decoration: none;
}

.navbar img{
  height: 36px;
  box-shadow: none;
  background: none;
}

.content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  gap: 25px;
  background-image: url('bg.webp');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  gap: 25px;
}

.content.narrow {
  padding: 0;                                                                       
  max-width: 1000px;
  width: 90%;
}

.content.tutorial_start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 50px;
}

.content.tutorial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  gap: 25px;
}

.vl {
  width: 1px;
  height: 36px;
  
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.225) 0%, rgba(255, 255, 255, 0.18) 35.94%, rgba(255, 255, 255, 0.27) 100%);
  box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.4);
}

.hl {
  width: 100%;
  height: 1px;
  
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.225) 0%, rgba(255, 255, 255, 0.18) 35.94%, rgba(255, 255, 255, 0.27) 100%);
  box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.4);
}

.navbar_tutorial_right{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 25px;
  gap: 15px;
  
  right: 0;
}

.navpage {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 25px;
  gap: 15px;
  
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  
  background: linear-gradient(180deg, rgba(99, 102, 104, 0.9) 0%, rgba(69, 71, 71, 0.9) 50.52%, rgba(52, 52, 52, 0.9) 53.12%, rgba(0, 0, 0, 0.9) 100%);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3), inset 0px 2px 1px rgba(255, 255, 255, 0.3), inset 0px -2px 1px rgba(0, 0, 0, 0.4);
  border-radius: 25px 25px 0px 0px;
}

.standalone_img{
  box-shadow: none;
  background: none;
}

.standalone_img.small{
  width: auto;
}

/*Mobile Menus*/

.menu_mobile{
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  gap: 15px;
  width: 100%;
    
  background: linear-gradient(180deg, rgba(83, 85, 87, 0.9) 0%, rgba(14, 15, 15, 0.9) 100%);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3), inset 0px 2px 1px rgba(255, 255, 255, 0.3), inset 0px -2px 1px rgba(0, 0, 0, 0.4);
}

#menu_toggle {
  display: none;
}

#menu_toggle_label {
  cursor: pointer;
}

#menu_toggle:checked + .menu_mobile {
  transition: all 300ms ease;
  display: flex;
}

.orb{
  height: 36px;
  width: 36px;
  
  transition: all 300ms ease;
  background: url("") no-repeat;
  background-size: 36px;
  border-radius: 50%;
}

.orb:hover{
  transition: all 300ms ease;
  background: url("") no-repeat;
  background-size: 36px;
box-shadow: 0px 0px 41px 10px rgba(255, 255, 255, 0.8);
}

#disabled {
  filter: drop-shadow(0px -2px 1px rgba(0, 0, 0, 0.25));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.375) 0%, rgba(255, 255, 255, 0.3) 35.94%, rgba(255, 255, 255, 0.45) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/*content organization*/

.columns.two{
  display: grid;
  width: 100%;
  grid-template-columns: 49% auto;
  gap: 25px;
}

.columns.three{
  display: grid;
  width: 100%;
  grid-template-columns: 33% 33% auto;
  gap: 40px;
}

.tile {
  border-radius: 15px;
  padding: 25px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  color: #fafafa;
  background: linear-gradient(180deg, #c2c2c2 0%, #474747 100%); 
}
.tile.horiz {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 25px;
  justify-content: space-between;
}

.tile.horiz img{
  height: 150px;
  border-radius: 5px;
  filter: drop-shadow(0px -2px 1px rgba(0, 0, 0, 0.25));
border-radius: 5px;
  box-shadow: inset 0 0 rgba(0, 0, 0, 0);
}

.tile.img{
  gap: 15px;
  padding: 15px;
}

.tile.img img{
  width: 80%;
  border-radius: 5px;
    filter: drop-shadow(0px -2px 1px rgba(0, 0, 0, 0.25));
border-radius: 5px;
}

.swatch {
  padding: 25px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  
  border-radius: 15px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3), inset 0px 2px 1px rgba(255, 255, 255, 0.3), inset 0px -2px 1px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 850px) {
  .content {
    padding: 15px;
  }
  .narrow {
    width: 100%;
  }
  .content.tutorial_start, .content.tutorial {
    flex-direction: column;
  }
  .tile.horiz{
    flex-direction: column;
  }
  .nav.desktop{
    display: none;
  }
  .nav.mobile{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    gap: 15px;
  }
  .standalone_img{
    width: 100%;
  }
}

@media only screen and (max-width: 1100px) {
  body{
    background-size: 250vh;
  }
  .tile.horiz img{
    height: 100px;
  }
  .columns{
    grid-template-columns: auto !important;
  }
}

/* Fonts */

a {
  color: #2A90D1;
  text-decoration: none;
  word-break: break-all;
}

a:hover {
  text-decoration: underline;
}

a:has(i) {
  text-decoration: none;
  line-height: 0;
  word-break: normal;
}

a:has(h3, i):hover {
  line-height: 0;
  color: #a5a8a5 !important;
  text-decoration-thickness: 1px;
}

a:visited {
  color: #2A90D1;
}

a.div {
  text-decoration: none;
  line-height: inherit;
  word-break: normal;
}

i{
  filter: drop-shadow(0px -2px 1px rgba(0, 0, 0, 0.25));
  background: rgb(255, 255, 255);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  }

#curpage{
    background: rgb(68,127,255);
background: linear-gradient(0deg, rgba(68,127,255,1) 0%, rgba(17,222,215,1) 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  margin: 0 0 5px;
  font-weight: normal;
  font-family: "ExtraLight";
  font-style: normal;
  font-size: 36px;
  line-height: 125%;
  text-transform: lowercase;

  filter: drop-shadow(0px -2px 1px rgba(0, 0, 0, 0.25));
  background: linear-gradient(180deg, #878C87 0%, #D3D4D3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

h2 {
  margin: 0 0 5px;
  font-weight: normal;
  font-family: "Frutiger";
  font-style: bold;
  font-size: 68px;
  line-height: 125%;
  text-transform: lowercase;

  filter: drop-shadow(0px -2px 1px rgba(0, 0, 0, 0.25));
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

h3 {
  margin: 0;
  font-weight: normal;
  font-family: "Frutiger";
  font-style: normal;
  font-size: 20px;
  line-height: 125%;
  text-transform: lowercase;

  filter: drop-shadow(0px -2px 1px rgba(0, 0, 0, 0.25));
  background: linear-gradient(180deg, #878C87 0%, #D3D4D3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

h4 {
  margin: 0;
  font-weight: normal;
  font-family: "Frutiger";
  font-style: bold;
  font-size: 20px;
  line-height: 125%;
  text-transform: lowercase;

  filter: drop-shadow(0px -2px 1px rgba(0, 0, 0, 0.25));
  background: linear-gradient(180deg, #878C87 0%, #D3D4D3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

ul {
  margin: 0;
}

p, li {
  text-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25);
  color: #E6E6E6;
  font-family: Regular;
  font-size: 14px;
  margin: 0;
}

sub {
  text-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25);
  color: #E6E6E6;
  font-family: Regular;
  margin: 5px 0 0 0;
}